

workDir = "/fs/scratch/PCON0160/00AA_AF3"
singularity.cacheDir = "${baseDir}/singularity"


process.shell = ['/bin/bash', '-euo', 'pipefail']
// Global default params, used in configs

params {

    base = baseDir
    msa_cache_directory = "/fs/scratch/PCON0160/00AA_AF3_msa_cache_dir"

}

process {

    withLabel:'af3_alignment'{
        executor = 'slurm'
        singularity.enabled = true
        singularity.autoMounts = true
        clusterOptions = "--account=PCON0160 --ntasks=1 --cpus-per-task=28 --partition=nextgen --cluster=ascend-nextgen "
        maxRetries = 3
        errorStrategy = 'retry'
        memory = { task.attempt == 1 ? '128GB' : task.memory * 1 }
        time = { task.attempt == 1 ? '10h' : task.time * 1.5 }
    }

    withLabel:'af3_inference'{
        executor = 'slurm'
        singularity.enabled = true
        singularity.autoMounts = true
        clusterOptions = "--account=PCON0160 --time=06:00:00 --ntasks=1 --gpus-per-node=1 --cpus-per-task=4 --mem=100G --partition=nextgen --cluster=ascend-nextgen "
    }

    withLabel:'base'{
        executor = 'local'
        singularity.enabled = false
        singularity.autoMounts = false
        clusterOptions = "--account=PCON0160 --time=01:00:00 --ntasks=1 --cpus-per-task=4 --mem=32G --partition=nextgen --cluster=ascend-nextgen "
        container = null
    }
    

}
